<!doctype html>

<html lang="en">

<head>
	{{> head
		title="All items"
		description="View a list of items in the inventory stock"}}
	<script type="module" src="{{host}}/js/main.js"></script>
</head>

<body>
	{{> header title="All items"}}
	{{> message}}
	<main>
		<section>
			<h3>Items in inventory</h3>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Current Stock</th>
					</tr>
				</thead>
				<tbody>
					{{#each items as |item|}}
						<tr>
							<td><a href="/inventory/items/{{item.barcode}}" >{{item.name}}</a></td>
							<td>{{item.stock}}</td>
						</tr>
					{{else}}
						<tr>
							<td colspan="2">There are no items in the inventory</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</section>
	</main>
	{{> footer}}
</body>

</html>