<!doctype html>

<html lang="en">

<head>
	{{> head
		title=item.name
		description=item.description}}
	<script type="module" src="{{host}}/js/item.js"></script>
</head>

<body>
	{{> header title=item.name}}
	{{> message}}
	<main>
		<section>
			<h3>Item details</h3>
			<form item-barcode="{{item.barcode}}">
				<label>Photo
					<input type="text" name="image" value="{{item.photo}}"/>
				</label>
				<label>Name
					<input type="text" name="name" value="{{item.name}}" />
				</label>
				<label>Description
					<textarea name="description" >{{item.description}}</textarea>
				</label>
				<label>Barcode
					<input type="text" name="barcode" value="{{item.barcode}}"/>
				</label>
				<label>Wholesale price (£)
					<input type="number" name="wholesale_price" min="0.00" step="0.01" value="{{asPounds item.wholesale_price}}" />
				</label>
				<label>Retail price (£)
					<input type="number" name="retail_price" min="0.00" step="0.01" value="{{asPounds item.retail_price}}" />
				</label>
				<label>Minimum stock level
					<input type="number" name="min_stock" min="0" value="{{item.min_stock}}" />
				</label>
				<label>Maximum stock level
					<input type="number" name="max_stock" min="0" value="{{item.max_stock}}" />
				</label>
				<label>Current stock
					<input type="number" name="stock" min="0" value="{{item.stock}}" />
				</label>
				<input type="submit" value="Update" />
			</form>
		</section>
	</main>
	{{> footer}}
</body>

</html>